:root {
    --primary-color: #333;
    --secondary-color: #0056b3;
    --background-color: #ddd;
    --text-color: #333;
    --accent-color: #444;
    --hover-color: #0056b3;
    --dark-background-color: #222;
    --dark-text-color: #ddd;
    --spacing-small: 10px;
    --spacing-medium: 20px;
    --spacing-large: 50px;
}
body {
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}
body.dark-mode {
    background-color: var(--dark-background-color);
    color: var(--dark-text-color);
}
header {
    background-color: var(--primary-color);
    color: #fff;
    padding: var(--spacing-small) 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}
nav ul li {
    margin: 0 var(--spacing-small);
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
    padding: 10px 15px;
    transition: background-color 0.3s, color 0.3s;
}
nav ul li a:focus,
nav ul li a:hover,
nav ul li button:focus,
nav ul li button:hover {
    outline: 2px solid #fff;
    background-color:var(--accent-color);
}
main {
    padding-top: 80px;
}
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding: var(--spacing-large) 0;
}
.hero-content {
    display: flex;
    align-items: center;
    gap: var(--spacing-medium);
}
.hero .profile-photo {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    object-fit: cover;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
}
.hero-text {
    max-width: 600px;
}
.horo-text h1 {
    margin: 0 0 10px 0;
}
.hero-text p {
    margin: 0;
}
footer {
    text-align: center;
    padding: var(--spacing-medium) 0;
    background-color: var(--primary-color);
    color: #fff;
}
section {
    margin: var(--spacing-medium) 0;
    padding: var(--spacing-large) 0;
}

section h1 {
    text-align: center;
}
.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--spacing-medium);
}
.project-card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: var(--spacing-medium);
    width: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: background-color 0.3s, box-shadow 0.3s;
    
}
.project-card:hover {
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
}
.project-card h2 {
    margin-top: 0;
}
.project-card p {
    margin: 10px 0;
}
.project-card a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: var(--primary-color);
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}
.project-card a:hover {
    background-color: var(--hover-color);;
}
.project-card a:focus {
    outline: 2px solid var(--hover-color);
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }
    .hero {
        padding: var(--spacing-medium) 0;
    }
    .projects-container {
        flex-direction: column;
        align-items: center;
    }
    .project-card {
        width: 100%;
        max-width: 90%;
    }
}
nav.scrolled {
    background-color: #555;
    transition: background-color 0.3s ease;
}
