body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
    background-color: #ddd;
}
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}
nav ul li {
    margin: 0 15px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
}
nav ul li a:focus,
nav ul li a:hover {
    outline: 2px solid #fff;
    background-color: #444;
}
main {
    padding-top: 60px;
}
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding: 50px 0;
}
.hero-content {
    display: flex;
    align-items: center;
    gap: 20px;
}
.hero .profile-photo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333333;
    background-color: #dddddd;
    font-size: 30px;
    width: 300px;
    height: 100px;
    border-radius: 3px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 10px 10px black #444;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    object-fit: cover;
}
.hero-text {
    max-width: 600px;
}
.horo-text h1 {
    margin: 0 0 10px 0;
}
.hero-text p {
    margin: 0;
}
footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
}
section {
    margin: 20px 0;
    padding: 50px 0;
}

section h1 {
    text-align: center;
}
.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.project-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
    
}
.project-card h2 {
    margin-top: 0;
}
.project-card p {
    margin: 10px 0;
}
.project-card a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
}
.project-card a:hover {
    background-color: #0056b3;
}
.project-card a:focus {
    outline: 2px solid #0056b3;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }
    .hero {
        padding: 20px 0;
    }
    .projects-container {
        flex-direction: column;
        align-items: center;
    }
    .project-card {
        width: 100%;
        max-width: 90%;
    }
}
nav.scrolled {
    background-color: #555;
    transition: background-color 0.3s ease;
}
